<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    {{#if titleOverride}}
    <title>{{titleOverride}} - Lineup List</title>
    <meta property="og:title" content="{{titleOverride}} - Lineup List">
    {{else}}
    <title>Lineup List</title>
    <meta property="og:title" content="Lineup List">
    {{/if}}

    {{#if prod}}
    <script data-goatcounter="https://lineuplist.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
    <link rel="canonical" href="{{canonicalUrl}}">
    {{else}}
    <!-- Non-minified for dev -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive.css" />
    {{/if}}

    <link rel="stylesheet" href="/css/style.css">
    <meta property="og:description" content="Generate a unique lineup and playlist for a festival from your custom filters">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <!-- Icon made by surang from www.flaticon.com -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/favicon.ico">

    <script>
        function mobileNavClicked() {
            const dropdown = document.getElementById("mobile-nav-dropdown");
            if (dropdown.style.display === "none") {
                dropdown.style.display = "block";
            } else {
                dropdown.style.display = "none";
            }
        }
    </script>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="pure-menu nav">
        <a class="pure-menu-link nav-item" href="/">Home</a>
        <a class="pure-menu-link nav-item" href="/faq">FAQ</a>
    </div>
    <div class="mobile-nav">
        <a class="mobile-nav-a" href="#" onclick="mobileNavClicked()">
            <img class="menu-img" src="/img/menu.svg" />
        </a>
        <div class="mobile-nav-dropdown" id="mobile-nav-dropdown" style="display: none;">
            <a class="pure-menu-link mobile-nav-dropdown-option-a" href="#" onclick="mobileNavClicked()">Close menu</a>
            <a class="pure-menu-link mobile-nav-dropdown-option-a" href="/">Home</a>
            <a class="pure-menu-link mobile-nav-dropdown-option-a" href="/faq">FAQ</a>
        </div>
    </div>
    {{{body}}}
</body>
</html>
