<h2 style="text-align: center; margin: 1em 2em 1em 2em;">Successfully generated playlist '{{playlistName}}' for {{festival.display_name}} {{festivalYear}}</h2>
<form action="{{playlistUrl}}" method="GET" target="_blank" rel="noopener noreferrer" style="margin: 1em 0 1em 0;">
    <input class="pure-button pure-button-primary" type="submit" value="Check out your new playlist"></input>
</form>
<p style="text-align: center;">- or -</p>
<div class="pure-g" style="justify-content: center; align-items: center; text-align: center;">
    <form class="pure-u-7-8 pure-u-lg-1-4 pure-u-md-5-12" action="customize" method="GET">
        <input type="submit" class="pure-button" style="width: auto; height: auto; white-space: normal; word-wrap: break-word; margin: 1em;" value="Change your lineup options and regenerate for this festival"></input>
        <input type="hidden" name="festival" value="{{festival.name}}">
        <input type="hidden" name="year" value="{{festivalYear}}">
    </form>
    <form class="pure-u-7-8 pure-u-lg-1-4 pure-u-md-5-12" action="/" method="GET">
        <input type="submit" class="pure-button" style="width: auto; height: auto; white-space: normal; word-wrap: break-word; margin: 1em;" value="Create a lineup for another festival"></input>
    </form>
</div>
<div style="margin-top: 4em; display: flex; flex-direction: column; align-items: center; text-align: center;">
    <p style="margin: 0 0.5em;">Have feedback on improvements? <a href="mailto:contact@lineuplist.live">Let me know</a>.</p>
    <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
        <p>Did I save you some time or raise your stoke level?</p>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="second.string" data-color="#757575" data-emoji="ðŸ©" data-font="Bree" data-text="Buy me a donut" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
    </div>
</div>
